/*------------------------------------*\
$INDEX
\*------------------------------------*/
.block--flex {
    display: flex;
    flex-flow: row wrap;
    .column {
        width: 100%;
        position: relative;
        @include respond-to(tablet) {
            width: 50%;
        }
    }
}
section {
    padding-top: 20px;
    .column {
        position: relative;
    }
}
.first {
    display: block;
    padding: 0;
    @include respond-to(tablet) {
        display: none;
    }
    img {
        width: 100%;
    }
}
.sistema {
    background: url(../img/starfield.jpg) center no-repeat;
    background-size: cover;
    padding-bottom: 35px;
    @include respond-to(desktop) {
        padding-bottom: 75px;
    }
    .column {
        @include respond-to(tablet) {
            width: 100%;
            &:first-child {
                max-width: 580px;
                margin: auto;
            }
        }
        @include respond-to(desktop) {
            width: 50%;
            &:first-child {
                max-width: 100%;
            }
        }
    }
    h1, h2 {
        color: $main;
    }
    h1 {
        @include respond-to(desktop) {
            @include font-size(60px, 72px);
        }
    }
    p {
        color: white;
    }
    .center {
        @include respond-to(desktop) {
            @include center;
            width: 100%;
            padding-bottom: 4px;
            padding-left: 10px;
        }
    }
    .content {
        margin-bottom: 14px;
        @include respond-to(desktop) {
            padding-right: 15px;
            margin-bottom: 34px;
        }
    }
    .image {
        position: relative;
        @include respond-to(desktop) {
            margin-top: 62px;
            padding-left: 12px;
        }
        img {
            width: 260px;
            display: block;
            margin: auto;
            display: none;
            @include respond-to(tablet) {
                display: block;
            }
            @include respond-to(desktop) {
                width: 100%;
            }
        }
        .btn {
            width: 260px;
            color: $main;
            cursor: pointer;
            @include respond-to(tablet) {
                @include center;
            }
            @include respond-to(desktop) {
                text-align: left;
                padding: 0 15px;
            }
            svg {
                fill: $main;
                stroke: $main;
                @include respond-to(desktop) {
                    margin-right: 8px;
                }
            }
        }
    }
}
.people {
    @include respond-to(tablet) {
        background: url(../img/slide-federico.jpg) center;
        background-size: cover;
    }
    .column {
        @include respond-to(tablet) {
            padding: 98px 20px;
        }
    }
    h1 {
        @include font-size(24px, 24px);
        color: $main;
        text-align: center;
        @include respond-to(tablet) {
            margin-bottom: 6px;
        }
    }
    .bajada {
        text-align: center;
        margin-bottom: 17px;
        p {
            @include font-size(14px, 22px);
        }
    }
    img {
        width: calc(100% + 40px);
        margin-left: -20px;
        @include respond-to(tablet) {
            display: none;
        }
    }
    .buttons {
        .btn {
            width: 300px;
            background: $main;
            color: white;
            position: absolute;
            bottom: 21px;
            left: 50%;
            transform: translate(-50%, 0);
            text-align: left;
            padding: 0 13px;
            cursor: pointer;
            @include respond-to(tablet) {
                width: 300px;
                left: 50%;
                transform: translate(-50%, 0);
            }
            svg {
                fill: white;
                stroke: white;
                margin-right: 7px;
            }
            &:hover {
                background: #fff !important;
                color: $main !important;
                svg {
                    fill: $main !important;
                    stroke: $main !important;
                }
            }
        }
    }
}
.slider {
    width: 280px;
    margin: auto;
    @include respond-to(tablet) {
        width: 355px;
    }
    @include respond-to(desktop) {
        width: 100%;
    }
    img {
        width: 80%;
        display: block;
        margin: auto;
        @include respond-to(desktop) {
            width: 100%;
        }
    }
    .flex-viewport {
        margin-bottom: 10px;
    }
    .flex-caption {
        text-align: center;
        margin-top: 10px;
        @include font-size(14px, 16px);
        font-family: 'work_sanslight';
        @include respond-to(tablet) {
            @include font-size(16px, 16px);
        }
    }
    .flex-control-paging {
        display: none;
        @include respond-to(tablet) {
            display: block;
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            left: 10px;
        }
        li {
            width: 8px;
            height: 8px;
            @include font-size(5px, 5px);
            border-radius: 4px;
            overflow: hidden;
            margin: 0 0 5px 0;
            a {
                display: block;
                width: 100%;
                height: 100%;
                background: $gray;
                color: $gray;
            }
        }
    }
    .flex-direction-nav {
        text-align: center;
        @include respond-to(tablet) {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            display: flex;
            flex-flow: column-reverse wrap;
            right: 10px;
        }
        li {
            width: 32px;
            height: 32px;
            display: inline-block;
            margin: 0 5px;
            @include respond-to(tablet) {
                display: block;
                width: 48px;
                height: 48px;
                margin: 5px 0;
            }
            svg {
                width: 100%;
                height: 100%;
                .background {
                    fill: $gray;
                    transition: fill .3s;
                }
                .icon {
                    fill: #fff;
                }
            }
            .flex-disabled {
                svg {
                    opacity: .2;
                }
            }
        }
    }
}
.essence {
    padding-bottom: 15px;
    h1, h2 {
        color: $essence;
    }
    h1 {
        @include respond-to(desktop) {
            margin-bottom: 3px;
        }
    }
    h2 {
        @include respond-to(desktop) {
            margin-bottom: 4px;
        }
    }
    .block--flex {
        @include respond-to(desktop) {
            flex-direction: row-reverse;
        }
    }
    .column {
        @include respond-to(tablet) {
            width: 100%;
            &:first-child {
                max-width: 380px;
                margin: auto;
                clear: both;
            }
            &:last-child {
                max-width: 580px;
                margin: auto;
                clear: both;
            }
        }
        @include respond-to(desktop) {
            width: 50%;
            &:first-child {
                max-width: 100%;
                padding-left: 18%;
                padding-top: 100px;
            }
            &:last-child {
                max-width: 100%;
            }
        }
    }
    .content {
        @include respond-to(desktop) {
            padding-right: 10px;
        }
    }
    .destacado {
        display: flex;
        flex-flow: row wrap;
        margin-top: 16px;
        margin-bottom: 13px;
        @include respond-to(tablet) {
            margin-top: 24px;
            padding-right: 100px;
        }
        strong {
            display: block;
        }
        .icon {
            width: 38px;
            margin-top: 3px;
            svg {
                width: 27px;
                height: 34px;
            }
        }
        p {
            flex: 1;
            @include font-size(16px, 22px);
        }
    }
    .slider {
        @include respond-to(desktop) {
            width: 64%;
            margin: auto;
            padding-top: 20px;
        }
        img {
            @include respond-to(desktop) {
                width: 100%;
            }
        }
        .flex-direction-nav {
            li {
                svg {
                    .background {
                        fill: $essence;
                    }
                    &:hover {
                        .background{ fill: darken($essence,10%); }
                    }
                }
            }
        }
        .flex-control-paging {
            .flex-active {
                color: $essence;
                background: $essence;
            }
        }
    }
}
.materials {
    background: #e4e4e6;
    padding-bottom: 14px;
    .column {
        @include respond-to(tablet) {
            width: 100%;
            &:first-child {
                max-width: 380px;
                margin: auto;
            }
            &:last-child {
                max-width: 580px;
                margin: auto;
                clear: both;
            }
        }
        @include respond-to(desktop) {
            width: 50%;
            &:first-child {
                max-width: 100%;
                margin: 0 auto;
            }
            &:last-child {
                max-width: 100%;
            }
        }
    }
    .column {
        &:first-child {
            margin-bottom: 17px;
        }
    }
    .center {
        @include respond-to(desktop) {
            @include center;
            width: 100%;
            padding-left: 10px;
        }
    }
    h1, h2 {
        color: $materials;
    }
    h1 {
        @include respond-to(desktop) {
            margin-bottom: 2px;
        }
    }
    h2 {
        @include respond-to(desktop) {
            width: 250px;
            margin-bottom: 6px;
        }
    }
    .content {
        @include respond-to(desktop) {
            padding-right: 36%;
        }
    }
    .slider {
        @include respond-to(desktop) {
            width: 64%;
            margin: auto;
            padding-top: 20px;
        }
        img {
            @include respond-to(desktop) {
                width: 100%;
            }
        }
        .flex-control-paging {
            .flex-active {
                color: $materials;
                background: $materials;
            }
        }
        .flex-direction-nav {
            li {
                svg {
                    .background {
                        fill: $materials;
                    }
                    &:hover {
                        .background{ fill: darken($materials,10%); }
                    }
                }
            }
        }
    }
}
.you {
    background: $you;
    color: white;
    position: relative;
    overflow: hidden;
    @include respond-to(desktop) {
        padding-top: 0;
        min-height: 500px;
    }
    .block--flex {
        @include respond-to(desktop) {
            flex-direction: row-reverse;
        }
    }
    .column {
        @include respond-to(tablet) {
            width: 100%;
            &:first-child {
                max-width: 400px;
                margin: auto;
            }
        }
        @include respond-to(desktop) {
            width: 50%;
            &:first-child {
                width: 37%;
                position: absolute;
                top: 50%;
                right: 0;
                transform: translate(0, -50%);
                max-width: 100%;
                padding-left: 20px;
            }
            &:last-child {
                width: 63%;
                position: absolute;
                top: 0;
                left: 0;
                overflow: hidden;
            }
        }
        .column--max {
            @include respond-to(desktop) {
                max-width: 400px;
            }
        }
    }
    h1, h2 {
        color: white;
    }
    h1 {
        @include respond-to(desktop) {
            margin-bottom: 3px;
        }
    }
    h2 {
        @include respond-to(desktop) {
            margin-bottom: 6px;
        }
    }
    .content {
        @include respond-to(tablet) {
            max-width: 400px;
            margin: auto;
        }
        @include respond-to(desktop) {
            padding-right: 10px;
        }
    }
    .buttons {
        margin-bottom: 20px;
        .btn {
            width: 200px;
            background: white;
            color: $you;
            text-align: left;
            padding: 0 11px;
            margin-top: 17px;
            cursor: pointer;
            svg {
                fill: $you;
                stroke: $you;
                margin-right: 5px;
            }
            &:hover {
                background: darken($you, 10%) !important;
                color: #fff !important;
                svg {
                    fill: #fff !important;
                    stroke: #fff !important;
                }
            }
        }
    }
    img {
        width: calc(100% + 40px);
        margin-left: -20px;
        &.mobile {
            display: block;
            @include respond-to(tablet) {
                display: none;
            }
        }
        &.thisheight {
            display: none;
            @include respond-to(tablet) {
                display: block;
            }
        }
    }
}
.conectado {
    background: #333;
    color: white;
    padding-bottom: 20px;
    @include respond-to(desktop) {
        padding-bottom: 0;
    }
    .column {
        @include respond-to(tablet) {
            width: 100%;
            &:first-child {
                max-width: 380px;
                margin: auto;
            }
            &:last-child {
                max-width: 580px;
                margin: auto;
                clear: both;
            }
        }
        @include respond-to(desktop) {
            width: 50%;
            &:first-child {
                max-width: 100%;
            }
            &:last-child {
                max-width: 100%;
            }
        }
    }
    h1, h2 {
        color: $main;
    }
    h1 {
        @include respond-to(desktop) {
            padding-right: 180px;
            line-height: cr(48px);
        }
    }
    h2 {
        @include respond-to(desktop) {
            padding-right: 210px;
            margin-bottom: 6px;
        }
    }
    .content {
        @include respond-to(desktop) {
            padding-right: 200px;
        }
    }
    .column {
        @include respond-to(desktop) {
            &:first-child {
                padding: 133px 10px;
            }
        }
    }
    strong {
        display: block;
    }
    .column {
        &:first-child {
            margin-bottom: 17px;
        }
    }
    .slider {
        @include respond-to(desktop) {
            width: 72%;
            margin: auto;
            padding-top: 55px;
        }
        li {
            img {
                //width: 85%;
                width: auto;
                max-width: 85%;
                max-height: 380px;
            }
        }
        .flex-caption {
            //margin-top: 4px;
            @include respond-to(desktop) {
                //margin-top: 18px;
                max-width: 300px;
                margin: 17px auto 0;
            }
        }
        .flex-direction-nav {
            li {
                svg {
                    .background {
                        fill: $main;
                    }
                    &:hover {
                        .background {
                            fill: darken($main,10%);
                        }
                    }
                }
            }
        }
        .flex-control-paging {
            .flex-active {
                color: $main;
                background: $main;
            }
        }
    }
}
.encuentranos {
    padding-bottom: 10px;
    @include respond-to(tablet) {
        padding-top: 60px;
        padding-bottom: 75px;
    }
    .block--flex {
        justify-content: center;
        @include respond-to(tablet) {
            justify-content: space-around;
        }
    }
    h2 {
        color: $main;
        text-align: center;
        @include respond-to(tablet) {
            margin-bottom: 30px;
        }
    }
    .item {
        width: 50%;
        min-height: 90px;
        margin-bottom: 10px;
        @include respond-to(tablet) {
            width: auto;
            min-height: 113px;
            margin-bottom: 0;
        }
        img {
            width: 112px;
            max-height: 100%;
            display: block;
            margin: auto;
            @include respond-to(tablet) {
                width: 132px;
            }
        }
    }
}
.informacion {
    background: #f5f5f7;
    padding-bottom: 20px;
    text-align: center;
    @include respond-to(desktop) {
        padding-bottom: 60px;
        text-align: left;
    }
    .column {
        @include respond-to(tablet) {
            width: 100%;
            &:first-child {
                padding-top: 41px;
                padding-left: 10px;
            }
            &:last-child {
                padding-left: 13px;
                padding-top: 28px;
            }
        }
        @include respond-to(desktop) {
            width: 50%;
        }
    }
    h1 {
        color: $main;
        @include respond-to(desktop) {
            @include font-size(48px, 48px);
            margin-bottom: 4px;
        }
    }
    .formulario {
        margin-top: 8px;
        width: 100%;
        max-width: 280px;
        margin: auto;
        @include respond-to(tablet) {
            max-width: 460px;
        }
        .input-group {
            width: 100%;
            font-family: 'work_sanslight';
            margin-bottom: 30px;
            position: relative;
            text-align: left;
            @include respond-to(tablet) {
                display: flex;
                flex-flow: row wrap;
                //margin-bottom: 22px;
            }
            &.error {
                input, textarea {
                    border: 1px solid $essence !important;
                    &:hover, &:focus {
                        background: lighten($essence,40%);
                    }
                }
                span.error {
                    position: absolute;
                    bottom: -18px;
                    right: 0;
                    color: $essence;
                    @include font-size(14px, 14px);
                }
            }
            label {
                width: 100%;
                @include font-size(16px, 22px);
                @include respond-to(tablet) {
                    width: 100px;
                    line-height: cr(36px);
                }
            }
            input {
                width: 100%;
                height: 36px;
                border: 1px solid #e2e2e4;
                @include font-size(16px, 34px);
                padding: 0 10px;
                @include respond-to(tablet) {
                    flex: 1;
                }
                transition: border-color .3s, background .3s;
                &:hover, &:focus {
                    border-color: #c5c6c8;
                    outline: none;
                }
            }
            textarea {
                width: 100%;
                height: 110px;
                resize: none;
                border: 1px solid #e2e2e4;
                @include font-size(16px, 18px);
                padding: 10px;
                @include respond-to(tablet) {
                    flex: 1;
                }
                transition: border-color .3s;
                &:hover, &:focus {
                    border-color: #c5c6c8;
                    outline: none;
                }
            }
        }
        .send-group {
            width: 100%;
            margin-top: 4px;
            .send {
                background: $main;
                color: white;
                width: 160px;
                height: 36px;
                @include font-size(16px, 36px);
                text-align: center;
                font-family: 'work_sanslight';
                margin-left: auto;
                border-radius: 18px;
                display: block;
                border: none;
                outline: none;
                transition: background .3s;
                &:hover {
                    background: darken($main, 10%);
                }
            }
        }
    }
}
.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(black, .8);
    z-index: $level9;
    display: none;
    .lightbox__content {
        width: 100%;
        height: auto;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-50%, 0);
        @include respond-to(tablet) {
            max-width: 600px;
        }
        @include respond-to(desktop) {
            max-width: 800px;
        }
        .icon--close {
            position: absolute;
            left: 50%;
            top: -64px;
            cursor: pointer;
            transform: translate(-50%, 0);
            
            background: $materials;
            padding: 12px;
            width: 54px;
            height: 54px;
            border-radius: 50%;
            transition: background .3s, transform .3s;

            svg {
                width: 100%;
                height: 100%;
                fill: white;
            }
            &:hover {
                background: $main;
                //transform: rotate(180deg) translate(50%, 0) scale(1.1);
            }
        }
        .video {
            position: relative;
            padding-bottom: 56.25%; /*16:9*/
            //padding-top: 25px;
            height: 0; iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
}

.html-catalogo, .page-catalogo {
    position: relative;
    min-height: 100%;
}

.page-catalogo {   
    .sticky-wrapper {
        min-height: 100%;
        background: url(../img/starfield.jpg) center no-repeat;
        background-size: cover;
        overflow: hidden;
        position: relative;
        z-index: 10;
        //footer height
        padding-bottom: 98px;
        @include respond-to(tablet) {
            padding-bottom: 48px;
        }
    }
    
    .footer {
        position: relative;
        z-index: 20;
        //footer height
        margin-top: -98px;
        @include respond-to(tablet) {
            margin-top: -48px;
        }
    }
    
    .header {
        background: #222;
        .menu {
            li {
                margin: 8px 0 0 80px;
                a {
                    width: 200px;
                    height: 36px;
                    line-height: 36px;
                    border-radius: 18px;
                    padding: 0;
                    text-align: center;
                    display: block;
                }
            }
        }
    }
    .catalogo {
        overflow: hidden;
        padding-bottom: 30px;
        @include respond-to(tablet) {
            padding-bottom: 40px;
        }
    }    
    .wrap {
        max-width: 1190px;
    }
    
    h1, h2, p.info, .buttons {
        text-align: center;
    }
    h1, h2 {
        color: $main;
    }
    p.info {
        color: #fff;
    }
    
    .flipbook-viewport {
        position: relative;
        overflow: hidden;
        margin: 20px auto;
        @include respond-to(tablet){
            margin: 40px auto;
        }
        min-width: 280px;
        max-width: 1190px;
        min-height: 396px;
        max-height: 842px;
        .container {
            width: 100%;
            height: 100%;
            .flipbook {
                margin: 0 auto;
                .page {
                    width: 50%;
                    height: 100%;
                    background-repeat: no-repeat;
                    background-size: 100% 100%;
                    .btn {
                        display: block;
                        width: 100px;
                        height: 48px;
                        background: #f00;
                        border-radius: 5px;
                    }
                }
            }
        }
    }
}